 body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    margin: 0%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
 }

 .equilibrium-header{
   color: hsl(0, 0%, 100%);
   font-weight: 600;
   font-size: 1.4rem;
}
 .equilibrium-image {
  height: auto;
  width: 300px;
  border-radius: 10px;
  margin: 0px auto 20px;
}
 .flex-box{
    background-color: hsl(216, 50%, 16%);
    height: 540px;
    width:300px;
    border-radius: 1.2rem;
    padding: 1.5rem;

 }
 hr {
   width: 100%;
    opacity: .20;

 }
 
 /* icons style */

.icon, .icon-avatar{
   height: 20px;
   width: auto;
   float: left;
   margin-right: 5px;
}
 .icon-avatar {
   height: 30px;
   border-radius: 200px;
    border: 1px solid white;
 }
 p{
   color: hsl(215, 51%, 70%);
   font-weight: 400;
   line-height: 1.5;
 }
 /* bottom of the card */
 .crypto-cost{
   font-size: 1rem;
   font-weight: 600;
   color: hsl(178, 100%, 50%);
   margin-bottom: 18px;
 }
 .crypto-cost span{
   font-weight: 300;
   color: hsl(215, 51%, 70%);
   float: right;
 }
 .creation{
   font-size: 1rem;
   margin-top: 20px;
   color: hsl(0, 0%, 100%);
 }
 .creation span{
   color: hsl(215, 51%, 70%);
 }
 .creation-name{
   padding: 5px 50px;
 }

 /* transitions */

.icon-background{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background: hsl(215, 32%, 27%);
  position: absolute;
  top: 0;
  opacity: 0;
}

 .icon-view{
  display: block;
  margin: 45% auto;
  }
 

.creation span:hover{
  color: hsl(178, 100%, 50%);
}
.equilibrium-header:hover{
 color: hsl(178, 100%, 50%);

}
.top-image{
  position: relative;
}
.top-image:hover .icon-background{
  opacity: .5;
}